.wordleCell {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
}

.wordleCellInput {
    width: 100%;
    text-align: center;
    border: none!important;
    background-color: rgba(211, 211, 211, 0.4);
    border-radius: 5px;
    height: 85px;
    font-size: 2em;
}

@media only screen and (max-width: 767px) {
    .wordleCell {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: 2px;
        text-align: center;
    }
    
    .wordleCellInput {
        width: 100%;
        text-align: center;
        border: none!important;
        background-color: rgba(211, 211, 211, 0.4);
        border-radius: 5px;
        height: 55px;
        font-size: 1.5em;
    }
}
  

.green {
    background-color: #55e4ac!important;
    color: white;
}

.gray {
    background-color: gray!important;
    color: white;
}

.yellow {
    background-color: #ffc208!important;
    color: white;
}